.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  max-width: var(--mobile-width);
}

.link-reset {
  text-decoration: none;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

@media (min-width: 768px) {
  .container {
    margin: 0 auto;
    max-width: 450px;
  }
}
