.todo__input-field {
  width: 100%;
  min-height: 35px;
  padding: 5px 5px 5px 35px;
  border: none;
  box-shadow: inset 0 -1px 1px rgb(0 0 0 / 3%);
  border-bottom: 0.5px solid var(--color-border-grey);
}

.todo__input-field:focus-visible {
  outline: 1px solid var(--color-header-title-pink);
  outline-offset: -1px;
}

.todo__input-field::placeholder {
  font-style: italic;
  opacity: 0.4;
}

.todo__task-list li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  line-height: 20px;
  gap: 10px;
  padding: 7px 10px 7px 35px;
  border-bottom: 0.5px solid var(--color-border-grey);
  background-color: var(--color-white);
}

.shake {
  animation: shake 0.85s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.todo__task-list li:hover .todo__task-remove-button {
  display: block;
}

.todo__task-remove-button {
  display: none;
  margin-left: auto;
  font-size: inherit;
  color: tomato;
  opacity: 0.7;
  cursor: pointer;
}

.todo__task-checkmark {
  position: absolute;
  top: 7px;
  left: 9px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 0.5px solid var(--color-border-grey);
}

.todo__task-input[type="checkbox"]:checked + .todo__task-checkmark {
  border-color: #7DB550;
}

.todo__task-input[type="checkbox"]:checked + .todo__task-checkmark::before,
.todo__task-input[type="checkbox"]:checked + .todo__task-checkmark::after {
  position: absolute;
  background-color: #7DB550;
  content: "";
  height: 1px;
}

.todo__task-input[type="checkbox"]:checked + .todo__task-checkmark::before{
  width: 6px;
  top: 11.6px;
  left: 4px;
  transform: rotate(49deg);
}

.todo__task-input[type="checkbox"]:checked + .todo__task-checkmark::after {
  width: 11px;
  top: 13.8px;
  left: 8px;
  transform: rotate(-55deg);
  transform-origin: left top;
}

.todo__label-text--complete {
  opacity: 0.4;
  text-decoration: line-through;
}

@media (min-width: 768px) {
  .todo__input-field {
    min-height: 45px;
  }

  .todo__task-list li {
    padding: 12px 10px 12px 35px;
  }

  .todo__task-checkmark {
    top: 12px;
  }
}
